.App {
  text-align: center;
  background-color: #3a0303;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.row {
  padding-bottom: 20px;
}

i {
  cursor: pointer;
}

#start_stop, #reset {
  font-size: 40px;
}

#break-decrement, #session-decrement {
  padding-right: 12px;
}

#break-increment, #session-increment {
  padding-left: 12px;
}

#time-left {
  font-size: 45px;
}